<!-- navbar.html -->
<div id="navbar" class="navbar" style="background-image: url({% static 'images/HD.jpg' %})">
  <nav>
    <!-- Toggle button -->
    <div class="toggle-btn" onclick="toggleNavbar()">☰</div>

    <!-- Logo and menu -->
    <h2 class="logo">SURVEILLANCE IOT: CAPTEUR DHT11</h2>
    <ul>
      <li><a href="{% url 'table' %}">Table</a></li>
      <li><a href="{% url 'myChartTemp' %}">Graph of Temperature</a></li>
      <li><a href="{% url 'myChartHum' %}">Graph of Humidity</a></li>
      <li><a href="{% url 'json' %}">JSON</a></li>
    </ul>

    <!-- User selection form -->
    <form method="post" action="{% url 'index_view' %}">
      {% csrf_token %}
      <select id="select" name="select_field">
        <option value="signup" selected>S'inscrire</option>
        <option value="logout">Se déconnecter</option>
      </select>
    </form>
  </nav>
</div>
